In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_config = {'user': '~~~~',
            'pwd': '~~~~',
            'host': '~~~~',
            'port': ~~~~,
            'db': '~~~~'}

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

query = ''' SELECT * FROM dash_visits '''

dash_visits = pd.io.sql.read_sql(query, con = engine)

dash_visits.to_csv('dash_visits.csv')

In [3]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [4]:
dash_visits.sample(15)

,record_id,item_topic,source_topic,age_segment,dt,visits
9792,1050389,История,Искусство,18-25,2019-09-24 18:30:00,3
17273,1057870,Отношения,Сделай сам,31-35,2019-09-24 18:31:00,1
20005,1060602,Полезные советы,Ремонт,36-40,2019-09-24 18:54:00,1
20124,1060721,Полезные советы,Сад и дача,41-45,2019-09-24 18:55:00,3
30713,1071310,Юмор,Технологии,31-35,2019-09-24 19:00:00,1
12067,1052664,Культура,Дети,26-30,2019-09-24 18:28:00,1
3376,1043973,Женская психология,Финансы,26-30,2019-09-24 18:59:00,1
3977,1044574,Женщины,Одежда,26-30,2019-09-24 18:31:00,1
24026,1064623,Россия,Деньги,41-45,2019-09-24 18:58:00,5
4568,1045165,Женщины,Спорт,45+,2019-09-24 18:28:00,1
5959,1046556,Знаменитости,Знаменитости,18-25,2019-09-24 18:54:00,5
1276,1041873,Дети,Авто,45+,2019-09-24 18:58:00,3
199,1040796,Деньги,Здоровье,18-25,2019-09-24 18:31:00,2
7014,1047611,Интересные факты,Здоровье,18-25,2019-09-24 18:54:00,43
14829,1055426,Общество,Дети,41-45,2019-09-24 18:30:00,1